.contatiner {
  position: relative;
  display: flex;
}
.floor {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}

.elevator {
  position: absolute;
  bottom: 270px;
  /* bottom: 1070px; */
  left: 55px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: green;
}

.btns {
  position: absolute;
  top: 50px;
  right: -120px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.btnUp {
  position: relative;
  display: block;
  width: 40px;
}

.btnDown {
  position: relative;
  display: block;
  width: 40px;
}

.btnNum {
  margin: 5px;
}
